<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courses</title>
</head>
<body>

<div id="container">
    <h2>View courses:<h2>

    <table class="table" data-toggle="table">
        <thead>
        <tr>
            <th scope="col" data-sortable="true" class="normal-width">Title</th>
            <th scope="col">Description</th>
            <th scope="col" data-sortable="true" data-sorter="currencySorter" class="narrow-width">Fee</th>
            <th scope="col" class="narrow-width">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courses}">
            <td th:text="${course.title}"></td>
            <td th:text="${course.description}"></td>
            <td th:text="${#numbers.formatCurrency(course.fee)}"></td>
            <td th:text="TBD"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
