<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courses</title>
</head>
<body>

<div id="container">
    <div th:replace="fragments/nav"></div>
    <div id="container" class="container">
    <h2>Your courses<h2>

    <table class="table" data-toggle="table">
        <thead>
        <tr>
            <th scope="col" data-sortable="true" class="normal-width">Title</th>
            <th scope="col">Description</th>
            <th scope="col" data-sortable="true" data-sorter="currencySorter" class="narrow-width">Cost</th>
            <th scope="col" class="narrow-width">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courses}">
            <td th:text="${course.title}"></td>
            <td th:text="${course.description}"></td>
            <td th:text="${#numbers.formatCurrency(course.cost)}"></td>
            <td>
            <div th:if="${enrolledCoursesIds.contains(course.id)}">
                <span>Enrolled</span>
            </div>
            <div th:unless="${enrolledCoursesIds.contains(course.id)}">
                <form th:action="@{|/courses/${course.id}/enrol|}" method="get">
                    <button type="submit">Enroll</button>
                </form>
            </div>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</body>
</html>
