<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Enrolments</title>
    <meta th:replace="fragments/header"/>
</head>
<body>

<div id="container">
    <div th:replace="fragments/nav"></div>
    <div id="container" class="container">
    <h2>Your enrolments<h2>

    <table class="table" data-toggle="table">
        <thead>
        <tr>
            <th scope="col">Course title</th>
            <th scope="col">Course description</th>
            <th scope="col">Course cost</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="enrolment : ${enrolments}">
            <td th:text="${enrolment.course.title}"></td>
            <td th:text="${enrolment.course.description}"></td>
            <td th:text="${enrolment.course.cost}"></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</body>
</html>
