<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Profile</title>
</head>
<body>
<div id="container" class="container">
    <h2 th:inline="text">Your Profile</h2>
    <p th:inline="text">Username: [[${profile_user.getUsername()}]]</p>
    <p th:inline="text">First Name: [[${profile_user.getFirstname()}]]</p>
    <p th:inline="text">Surname: [[${profile_user.getSurname()}]]</p>
    <p th:inline="text">Student ID: [[${profile_user.getStudentId()}]]</p>
    <a class="btn btn-primary" th:href="@{/editProfile}" role="button">Edit Profile</a>
</div>
</body>
</html>
